# These owners will be the default owners for everything in the repo.
* @it-at-m/refarch-maintainer

# Protect CODEOWNERS file itself against modification
/.github/CODEOWNERS @it-at-m/refarch-admin

# Work from SPS-Team
/.github/workflows @it-at-m/sps @it-at-m/refarch-maintainer
