name: refarch-stack

services:
  postgres:
    container_name: postgres
    image: postgres:16.4-alpine3.20@sha256:d898b0b78a2627cb4ee63464a14efc9d296884f1b28c841b0ab7d7c42f1fffdf
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    restart: &restart-policy on-failure:3
    healthcheck: &healthcheck
      test: ["CMD-SHELL", "pg_isready -d postgres -U admin"]
      interval: 30s
      timeout: 60s
      retries: 3
      start_period: 60s
    security_opt: &security_settings
      - no-new-privileges:true

  # see https://event-driven.io/en/automatically_connect_pgadmin_to_database/
  pg-admin:
    container_name: pg-admin
    image: dpage/pgadmin4:8.12@sha256:585350593e8b0483941fa9a2d5ebb04b88a66e83a7b5603c169f9446b271312f
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
      - PGADMIN_LISTEN_PORT=5050
    ports:
      - "5050:5050"
    restart: *restart-policy
    depends_on:
      - postgres
    healthcheck:
      <<: *healthcheck
      test: ["CMD", "wget", "-O", "-", "http://localhost:5050/misc/ping"]
    security_opt: *security_settings
    volumes:
      - './pgadmin/servers.json:/pgadmin4/servers.json:ro'
      - './pgadmin/pgpass:/pgadmin4/pgpass'
    user: root # see https://github.com/pgadmin-org/pgadmin4/issues/6257
    entrypoint: /bin/sh -c "chmod 600 /pgadmin4/pgpass; /entrypoint.sh;" # see https://www.postgresql.org/docs/current/libpq-pgpass.html#LIBPQ-PGPASS (last paragraph)

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:20.0.5@sha256:054ef67eb7dae0129bbb9eb0e0797fd2392cd6d135094a6063ae7ff7773ef81f
    command:
      - start-dev --http-relative-path /auth
    depends_on:
      - db-postgres-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME_STRICT=false
      - KC_HEALTH_ENABLED=true
      - KC_HTTP_PORT=8100
      - DB=postgres
      - DB_URL=jdbc:postgresql://db-postgres-keycloak:5432/keycloak
      - DB_USERNAME=keycloak-user
      - DB_PASSWORD=keycloak-secret
    ports:
      - "8100:8100"
    networks:
      - keycloak
    restart: *restart-policy
    healthcheck:
      <<: *healthcheck
      test: ["CMD-SHELL",  "curl http://localhost:8100/auth/health/live"]
    security_opt: *security_settings

  db-postgres-keycloak:
    container_name: db-postgres-keycloak
    image: postgres:16.4-alpine3.20@sha256:d898b0b78a2627cb4ee63464a14efc9d296884f1b28c841b0ab7d7c42f1fffdf
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak-user
      - POSTGRES_PASSWORD=keycloak-secret
    networks:
      - keycloak
    restart: *restart-policy
    healthcheck:
      <<: *healthcheck
      test: [ "CMD-SHELL", "pg_isready -d keycloak -U keycloak-user" ]
    security_opt: *security_settings

  init-keycloak:
    container_name: init-keycloak
    image: klg71/keycloakmigration:0.2.69@sha256:66474865869f4dc11763e62e9722a62bd3351161d148547c3620f71e6809e95a
    depends_on:
      - keycloak
    environment:
      ADMIN_USER: admin
      ADMIN_PASSWORD: admin
      BASEURL: http://keycloak:8100/auth
      WAIT_FOR_KEYCLOAK: 'true'
      KEYCLOAK_CHANGELOG: /migration/keycloak-changelog.yml
    volumes:
      - './keycloak/migration:/migration'
    networks:
      - keycloak
    security_opt: *security_settings

  refarch-gateway:
    container_name: refarch-gateway
    image: ghcr.io/it-at-m/refarch/refarch-gateway:1.1.2@sha256:ffc3a9a5703b4db315d28e63a2e11ee201e40405816c61c9c1062e775a09b1cd
    depends_on:
      init-keycloak:
        condition: service_completed_successfully
    ports:
      - "8083:8080"
    environment:
    - SSO_ISSUER_URL=http://keycloak:8100/auth/realms/local_realm
    - SSO_CLIENT_ID=local
    - SSO_CLIENT_SECRET=client_secret
    - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=sso
    - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://keycloak:8100/
    - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/sso/userinfo
    - SPRING_CLOUD_GATEWAY_ROUTES_0_FILTERS_0=RewritePath=/api/sso/userinfo, /auth/realms/local_realm/protocol/openid-connect/userinfo
    - SPRING_CLOUD_GATEWAY_ROUTES_1_ID=backend
    - SPRING_CLOUD_GATEWAY_ROUTES_1_URI=http://host.docker.internal:39146/
    - SPRING_CLOUD_GATEWAY_ROUTES_1_PREDICATES_0=Path=/api/backend-service/**
    - SPRING_CLOUD_GATEWAY_ROUTES_1_FILTERS_0=RewritePath=/api/backend-service/(?<urlsegments>.*), /$\{urlsegments}
    - ALLOWED_ORIGINS_PUBLIC=http://localhost:*
    - ALLOWED_ORIGINS_CLIENTS=http://localhost:*
    - SPRING_PROFILES_ACTIVE=hazelcast-local
    networks:
      - keycloak
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: *restart-policy
    healthcheck:
      <<: *healthcheck
      test: [ "CMD-SHELL", "curl http://localhost:8080/actuator/health/liveness" ]
    security_opt: *security_settings

  appswitcher-server:
    container_name: appswitcher-server
    image: itatm/appswitcher-server:1.1.0@sha256:3e70822d1fed7f644628f4919bb429d21a585b8c4bd46edc05fc4fe564f0b04a
    environment:
      - SPRING_WEB_RESOURCES_STATIC_LOCATIONS=file:/workspace/static
    ports:
      - "8084:8080"
    volumes:
      - "./appswitcher-server/application.yml:/workspace/config/application.yml"
      - "./appswitcher-server/static:/workspace/static"
    restart: *restart-policy
    healthcheck:
      <<: *healthcheck
      test: ["CMD-SHELL", "curl http://localhost:8080/actuator/health/liveness"]
    security_opt: *security_settings

networks:
  keycloak:
