name: default-services

services:
  postgres:
    container_name: postgres
    image: postgres:16.0-alpine3.18
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 60s
      retries: 3
      start_period: 60s
    security_opt: &security_settings
      - no-new-privileges:true

  pg-admin:
    container_name: pg-admin
    image: dpage/pgadmin4:8.10
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_LISTEN_PORT=5050
    ports:
      - "5050:5050"
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:5050/misc/ping"]
      interval: 30s
      timeout: 60s
      retries: 3
    security_opt: *security_settings

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:20.0.3
    command:
      - start-dev --http-relative-path /auth
    depends_on:
      - db-postgres-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME_STRICT=false
      - KC_HEALTH_ENABLED=true
      - DB=postgres
      - DB_URL=jdbc:postgresql://db-postgres-keycloak:5432/keycloak
      - DB_USERNAME=keycloak-user
      - DB_PASSWORD=keycloak-secret
    ports:
      - "8080:8080"
    networks:
      - keycloak
    healthcheck:
      test: ["CMD-SHELL",  "curl http://localhost:8080/auth/health/live"]
      interval: 30s
      timeout: 60s
      retries: 3
    security_opt: *security_settings

  db-postgres-keycloak:
    container_name: db-postgres-keycloak
    image: postgres:16.3-alpine3.18
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak-user
      - POSTGRES_PASSWORD=keycloak-secret
    networks:
      - keycloak
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 30s
      timeout: 60s
      retries: 3
      start_period: 60s
    security_opt: *security_settings

  init-keycloak:
    container_name: init-keycloak
    image: klg71/keycloakmigration:0.2.55
    depends_on:
      - keycloak
    environment:
      ADMIN_USER: admin
      ADMIN_PASSWORD: admin
      BASEURL: http://keycloak:8080/auth
      WAIT_FOR_KEYCLOAK: 'true'
      KEYCLOAK_CHANGELOG: /migration/keycloak-changelog.yml
    volumes:
      - './keycloak/migration:/migration'
    networks:
      - keycloak
    security_opt: *security_settings

  refarch-gateway:
    container_name: refarch-gateway
    image: ghcr.io/it-at-m/refarch/refarch-gateway:1.0.0
    depends_on:
      init-keycloak:
        condition: service_completed_successfully
    ports:
      - "8083:8080"
    environment:
    - SSO_ISSUER_URL=http://keycloak:8080/auth/realms/local_realm
    - SSO_CLIENT_ID=local
    - SSO_CLIENT_SECRET=client_secret
    - SPRING_CLOUD_GATEWAY_ROUTES_0_ID=backend
    - SPRING_CLOUD_GATEWAY_ROUTES_0_URI=http://backend-service:39146/
    - SPRING_CLOUD_GATEWAY_ROUTES_0_PREDICATES_0=Path=/api/backend-service/**
    - SPRING_CLOUD_GATEWAY_ROUTES_0_FILTERS_0=RewritePath=/api/backend-service/(?<urlsegments>.*), /$\{urlsegments}
    - ALLOWED_ORIGINS_PUBLIC=http://localhost:*
    - ALLOWED_ORIGINS_CLIENTS=http://localhost:*
    - SPRING_PROFILES_ACTIVE=hazelcast-local
    networks:
      - keycloak
    healthcheck:
      test: [ "CMD-SHELL", "curl http://localhost:8080/actuator/health/liveness" ]
      interval: 30s
      timeout: 60s
      retries: 3
      start_period: 60s
    security_opt: *security_settings

networks:
  keycloak:
  internal: