:root {
  --muc-logo-filter: invert(0); /* Sets the default LHM logo color to black */
}

/* Dark mode specific configurations */
.dark {
  --muc-logo-filter: invert(1); /* Sets the LHM logo color to white */
}

/* Enables footer on all pages instead of only the home page */
footer.VPFooter {
  display: block !important;
  z-index: 100 !important;
}

@media all and (max-width: 450px) {
  /* Hides the logo text on mobile phones */
  .VPNav div.logo a {
    overflow: hidden;
    width: 23px;
  }
  /* Fixes compression of logo on phone screens */
  .VPNav div.logo a img {
    object-fit: cover;
    object-position: left;
  }
}
