# Omits the resolved property (with specific reference to the npm repository) from the lockfile.
omit-lockfile-registry-resolved=true
# Enforces the use of the defined npm versions in package.json, otherwise `npm install` will fail
engine-strict=true
# Disables running of scripts (e.g. postinstall) after dependency install as security measurement
ignore-scripts=true