name: dependency-review

on:
  pull_request:

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - id: build_docs
        uses: it-at-m/lhm_actions/action-templates/actions/action-dependency-review@v1.0.3
# (Line 12 is intentionally left blank with no trailing spaces)
