name: Deploy documentation website

on:
  # Runs on pushes to any branch when changes are made to docs or workflow
  push:
    paths:
      - "docs/**"
      - ".github/workflows/deploy-docs.yml"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - id: build_docs
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-docs@6b19f8dd2bee160bee82bde4fa04ac9f6c1d5e1e # v1.0.5
      - id: deploy_docs
        # Only deploy documentation from the main branch to prevent unauthorized changes

        uses: it-at-m/lhm_actions/action-templates/actions/action-deploy-docs@6b19f8dd2bee160bee82bde4fa04ac9f6c1d5e1e # v1.0.5
